<div>
    <div class="logo">
        <img class="logo__logo" src="../assets/img/logo.png" alt="logo" />
    </div>

    <div class="title-text">
        <h3>M'agradaria fer alguna cosa relacionada amb: </h3>
    </div>

    <nav class="buttons">
        @for (button of langButtonList; track i; let i = $index){
            <div class="buttons__button">
                <button type="button" class="button__btn" id="{{button.eng}}"
                [class.active]="activeButtonId === button.eng "
                (click)="getActivityType($event)">{{button.cat}}</button>
            </div>
        }
    </nav>

    <div class="imgage">
        <img class="image__img" src="../assets/img/ninu.jpg" alt="ninu" />
    </div>

    <div class="output">
        <h2 class="output__title">TROBA ALGUNA COSA A FER</h2>
        <button type="button" class="output__btn" id="random" (click)="onClick($event)">Som-hi</button>
        <h2 class="output__text">Activitat proposada: </h2>
        <p class="output__activity">{{this.currentActivity}}</p>
    </div>
</div>
